server:
  port: 8080

spring:
  application:
    name: spring-boot-quiz-app

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:quiz-db
    username: root
    password: root

  jpa:
    show-sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console