nav {
    color: white;
    background-color: #1f2833;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #fc5c7d;
}

.app-name {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    gap: 20px;
}