.main-container {
	padding: 40px 20px;
}

.title {
  width: 100%;
  max-width: 800px;
	font-size: 18px;
	letter-spacing: 0.5px;
	text-align: center;
	background-color: #fc5c7d;
  color: white;
	padding: 10px 20px;
	margin: 0 auto;
}

.ques-box {
	width: 100%;
	max-width: 800px;
	padding: 15px 25px;
	margin: 30px auto;
	background-color: #1f2833;
  color: white;
}

.question {
  color: #fc5c7d;
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

.option {
	display: flex;
	align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.option label {
	margin-left: 15px;
}

button {
  display: block;
  padding: 7px 20px;
  background-color: #fc5c7d;
  color: white;
  margin: 0 auto;
  border: none;
}

button:hover {
  opacity: 0.8;
}