.main-container {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 20px;
}

.card {
	width: 100%;
	max-width: 800px;
	margin: 100px auto 0 auto;
	background-color: #1f2833;
	color: white;
}

img {
	width: 100%;
	max-width: 350px;
	position: relative;
	display: block;
	margin: -100px auto 50px auto;
}

.title {
  font-size: 18px;
  letter-spacing: 0.5px;
  background-color: #fc5c7d;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.info-section .info {
  display: flex;
  gap: 10px;
  letter-spacing: 0.5px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

button {
  width: 30%;
  padding: 7px 20px;
  background-color: #fc5c7d;
  color: white;
  border: none;
}

button:hover {
  opacity: 0.8;
}