* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	min-height: calc(100vh - 136px);
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}