<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <title>Home Page</title>
</head>
<body>
	<!-- NavBar -->
	<div th:replace="fragments/navbar.html :: navbar"></div>

	<!-- Main Container -->
	<div class="container main-container">
  	<div class="image-box">
    	<img th:src="@{/images/exam.svg}" alt="image"/>
  	</div>

		<div class="text-box">
			<h1>Spring Boot Quiz App</h1>

			<form class="card" th:action="@{/quiz}" method="POST">
				<label for="username">Enter Your Name</label>
				<input type="text" id="username" name="username"/>

				<p class="warning" th:if="${warning}" th:text="${warning}"></p>
				<button type="submit">Start Quiz</button>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>