<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/scoreboard.css}">
  <title>Score Board</title>
</head>
<body>
	<!-- NavBar -->
	<div th:replace="fragments/navbar.html :: navbar"></div>

	<!-- Main Container -->
	<div class="container main-container">
  	<p class="title">Top Scores Of All Time</p>

  	<table>
    	<tr>
      	<th>Name</th>
      	<th>Score</th>
    	</tr>
    	<tr th:each="score : ${scores}">
      	<td th:text="${score.username}"></td>
      	<td th:text="${score.totalCorrect}"></td>
    	</tr>
  	</table>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>